<span class="berg-button-wrapper"
      [matTooltip]="_hint"
      [attr.tabindex]="_hint ? 0 : null">
  <button *ngIf="(_style$ | async) === 'icon'"
          mat-icon-button
          [color]="_color$ | async"
          [disabled]="_disabled">
    <mat-icon>{{ _label }}</mat-icon>
  </button>

  <ng-container *ngIf="(_style$ | async) === 'label'">
    <ng-container [ngSwitch]="_type$ | async">
      <button *ngSwitchCase="'proceed'"
              mat-raised-button
              [color]="_color$ | async"
              [disabled]="_disabled">
        {{ _label }}
      </button>

      <button *ngSwitchCase="'cancel'"
              mat-stroked-button
              [color]="_color$ | async"
              [disabled]="_disabled">
        {{ _label }}
      </button>
    </ng-container>
  </ng-container>
</span>
