<ng-content select="berg-layout-toolbar"></ng-content>

<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z12"
               [opened]="true"
               [fixedBottomGap]="1"
               [mode]="(mode$ | async) || 'side'"
               [fixedTopGap]="64">
    <ng-content select="berg-layout-left-sidenav"></ng-content>
  </mat-sidenav>

  <mat-sidenav class="mat-elevation-z12"
               [opened]="true"
               [fixedBottomGap]="1"
               [mode]="(mode$ | async) || 'side'"
               [fixedTopGap]="64"
               position="end">
    <ng-content select="berg-layout-right-sidenav"></ng-content>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
