.berg-table {
  display: flex;
  flex-direction: column;

  .mat-table {
    width: 100%;
  }

  .mat-hint {
    padding: 4px 8px;
  }

  .mat-cell,
  .mat-header-cell,
  .mat-footer-cell {
    &:not(:first-of-type):not(:last-of-type) {
      padding: 0 8px;
    }
  }

  .mat-sort-header-content {
    white-space: nowrap;
  }

  .berg-table-row-expand-content {
    display: flex;
    overflow: hidden;
    align-items: baseline;
    gap: 16px;
    padding: 16px 0;

    .mat-raised-button {
      align-self: center;
    }
  }

  .berg-table-row-expand-collapsed {
    .mat-cell {
      border: none;
    }
  }

  .berg-table-row-expand {
    height: 0;
  }

  .berg-table-placeholder {
    display: flex;
    padding: 16px;
    justify-content: center;
  }
}
